mvnw
mvnw.cmd
**/target/
**/bin/
**/.factorypath
**/.apt_generated/
target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/timing.properties
**/*.class
**/.*
**/.classpath
**/.project
**/*.iml
**/.settings
**/.mvn
**/.DS_Store
/target/
bin/
logs/
.factorypathf
.apt_generated/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
.idea/
LOG_HOME_IS_UNDEFINED/
